/* Reset css*/

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* css body */

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #525760;
}

/* css header */

.header{
    width: 100%;
    height: 56px;
}

.header .header__container{
    width: 100%;
    height: 56px;
    padding: 0 16px 0 16px;
    text-align: center;
}

.header .header__container .headerLeft{
    width: 100%;
    height: 56px;
}

.header .header__container .headerLeft a{
    height: 56px;
}

.header .header__container .headerLeft img{
    width: 60px;
    height: 45px;
    margin: 5.5px 0 5.5px 0;
}

/* css main */

.main{
    width: 100%;
}

/* css order */
.order{
    width: 100%;
    padding: 0 16px 0 16px;
}
/* css order__title */

.order__title{
    width: 100%;
    text-align: center;
    padding: 8px 0 4px 0;
}

.order__title span{
    font-size: 12px;
    font-weight: 500;
}

.order__title h2{
    font-size: 12px;
    font-weight: 600;
}

/* css navbar order */

.order__navbar{
    width: 100%;
    padding: 4px;
}

.order__navbar .order__btnquick{
    display: flex;
    justify-content: space-around;
}

.order__navbar .order__btnquick li{
  border-radius: 15px;
  background-color: #B0E0E6;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.order__navbar .order__btnquick li a{
    font-size: 14px;
    font-weight: bold;
}
/* css order menu */
.order__Menu{
    width: 100%;
    height: 570px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: auto;
}
/* search form css*/

.order__Menu .order__search{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 15px;
    padding: 4px;
}

.order__Menu .order__search input{
    width: 93%;
    border: 0;
    offset: 0;
    outline: 0;
    font-size: 15px;
}

/* css order box*/

.order__Menu .box{
    width: 100%;
    padding: 6px;
    display: block;
}

.box .order__box{
    width: 100%;
}

.box .order__box .box__item{
    width: 100%;
    height: 56px;
    display: flex;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.box .order__box .box__item img{
    width: 56px;
    border-radius: 5px;
}

.box__contents{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.box__contents .content__container .order__cost{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.order__cost .count{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
}

.box__contents .content__container .order__cost .money-item{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #FF4500;
}

.groupButton {
    display: flex;
    padding-top: 1px;
}

.fa-square-minus, .fa-square-plus{
    font-size: 20px;
    color: #FF4500;
}

/* css payment */

.order:after{
    display: block;
    content: " ";
    height: 55px;
    width: 100%;
}

.pay{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.pay .cart{
    height: 40px;
    display: flex;
    line-height: 40px;
    padding: 0 8px 0 8px;
}

.pay .checkout-payment{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    background-color: #FF4500;
    color: #ffffff;
}

.pay .cart h2{
    padding-left: 150%;
    font-size: 14px;
    color: #FF4500;
}

.pay .checkout-payment h2{
    font-size: 14px;
}

/* css manager vị trí */

.manager{
    width: 100%;
}

.manager__box{
    width: 100%;
    padding: 0 16px 0 16px;
}

.manager__header{
    width: 100%;
    height: 24px;
}

.manager__header ul{
    display: flex;
}

.manager__header ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 4px;
}

.manager__contents{
    display: flex;
    width: 100%;
    padding: 8px 0 8px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.manager__contents .table-item{
    width: 50px;
    text-align: center;
    margin: 4px 5px 2p 5px;
    padding-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3CB371;
}

.manager__contents .table-item i{
    font-size: 25px;
}

/* css choose */

.background-choose{
    display: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
}

.choose{
    width: 100%;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}

.choose__function{
    width: 100%;
    display: flex;
    padding-top: 6px
}

.choose__function .btn-function{
    width: 100%;
    text-align: center;
    padding: 3px 2px 2px 2px;
    font-size: 12px;
    font-weight: 600;
}
